body {
    width: 100%;
    height: 100%;
    background-color: rgb(146, 126, 165);
}

h1 {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    color: ivory;
    text-align: center;
    font-size: 50px;
    font-family: "Comic Sans MS", 'Hiragino Sans GB', sans-serif;
}

.name {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    margin-top: 100px;
    /* background-color: dodgerblue; */
}

.name input {
    width: 250px;
    height: 50px;
    font-size: 25px;
    /* 清除文本框样式 */
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    outline-offset: 0;
    text-indent: 16px;
    /*输入框中输入文字时前面的一段距离*/
    vertical-align: middle;
    /*解决输入文字时文本框移动问题*/
}

button {
    width: 80px;
    height: 50px;
    float: right;
    /* background-color: dimgrey; */
}

.style {
    width: 200px;

    margin:auto;
    margin-top: 20px;
    /* background-color: aquamarine; */
    color: ivory;
    text-align: center;
}

.style input[type="radio"] {
    width: 1.2rem;
    height: 1.2rem;
    background-color: ivory;
    border: solid 1px ivory;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    font-size: 0.8rem;

    margin: 0 20px 0 0;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    /**隐藏原生控件**/

}

.style input[type="radio"]:checked {
    background-color: #af4f9f;
    border: solid 1px #af4f9f;
    /* box-shadow: 0 1px 1px rgba(0,0,0,.1); */
    text-align: center;
    /* background-clip: padding-box; */
}

.show {
    width: 600px;
    height: 100px;
    margin: auto;
    position: relative;
    top: 20px;
}

#cp_name {
    float: left;
    width: 510px;
    height: 100px;
    /* font-size: 80px; */
    text-align: center;
    line-height: 100px;
    background-color: rgb(200, 168, 201);
    color: rgb(251, 245, 251);
}

button.change_btn {
    margin-top: 30px;
}

.intro {
    width: 600px;
    margin: auto;
    font-size: 20px;
    overflow: hidden;
    /* background-color: antiquewhite; */
    margin-top: 70px;
}

.intro p {
    /* background-color: rgb(109, 90, 64); */
    margin: 5px 0 0 0;
    color: rgb(251, 245, 251);
}

.author{
    width: 200px;
    background-color: #af4f9f;

    text-align: center;
    
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    margin: auto;
}
.author a{
    color: rgb(146, 126, 165);
    text-decoration: none;
}